---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.png" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "Birnadin Erick"
  : "Enigma Bits by Birnadin Erick";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description="A Bootcamp by Birnadin Erick(me$birn.cc) to introduce disciples in simple frontend-heavy webapps to pupil who are familiar with Scratch programming methodologies."
      canonical={canonicalURL}
      twitter={{
        creator: "@BirnadinErick",
        site: "@birnadine",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Enigma Bits | Birnadin Erick",
          image: resolvedOGImage,
        },
        image: {
          alt: "Enigma Bits by Birnadin Erick",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
